
.button {
	font-family: inherit;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
	padding: 10px 32px;

	color: var(--primary-white-color);
	background-color: var(--accent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	@media screen and (max-width: 767px){
		padding: 10px 24px;
	}
}
.button.secondary {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 6px;
	padding-bottom: 6px;

	color: var(--primary-text-color);
	background-color: var(--secondary-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	text-align: center;
	letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
	display: flex;
	gap: 9px;
	justify-content: center;
	margin-bottom: 50px;
}

@media screen and (max-width: 767px){
	.filter-button{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}