

.feature {
	padding-bottom: 47px;

	&__list {
		display: flex;
		margin: auto;
	}

	&__item {
		max-width: 270px;
		margin-right: 30px;
	}

	&__list .title {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__item::before {
		display: block;
		content: "";
		height: 120px;
		background-color: var(--secondary-color);
		border-radius: 4px;
		margin-bottom: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	

.icon-one::before {
	background-image: url("../images/svg/antenna.svg");
}

.icon-two::before {
	background-image: url("../images/svg/clock.svg");
}

.icon-three::before {
	background-image: url("../images/svg/diagram.svg");
}

.icon-foure::before {
	background-image: url("../images/svg/astronaut.svg");
}

	}

	@media screen and (max-width: 767px){
		
		.feature {
			padding-bottom: 30px;
		}

		.feature__list {
			display: block;
			margin: auto;
			
		}

		.feature__item {
			max-width: 100%;
			margin-right: auto;
			padding-bottom: 30px;
		}
		.feature__list .title {
			text-align: center;
			font-weight: 700;
			font-size: 14px;
			line-height: 1.14;
			text-transform: uppercase;
		}

			
}

@media screen and (min-width: 768px) and (max-width: 1199px){
	.feature {
		padding-bottom: 30px;
	}

	.feature__list {
		// display: block;
		gap: 30px;
		flex-wrap: wrap;
		margin: auto;
		
	}

	.feature__item {
		// flex-wrap: wrap;
		max-width:calc(50% - 15px);		
		margin-right: 0;
		padding-bottom: 30px;
	}
	.feature__list .title {
		text-align: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
	}

}