.filter-list {
	display: flex;
	flex-wrap: wrap;
}

.filter-item {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.filter-item-list {
	display: block;
	text-decoration: none;
	color: var(--primary-text-color);

	box-shadow: 0;
	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item-list:hover,
.filter-item-list:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-item-list:hover .submenu {
	transform: translatex(0);
}

.product-tumb {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.submenu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translatey(100%);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submenu > p {
	padding: 63px 24px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;

	letter-spacing: 0.03em;

	color: #ffffff;
}

.border {
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;

	border: 1px solid #eeeeee;
	border-top: transparent;
}

.filter-item:nth-child(3n) {
	margin-right: 0;
}

.filter-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.filter-list .title {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;

	letter-spacing: 0.06em;
}

.filter-list .text {
	font-size: 16px;
	line-height: 1.88;

	letter-spacing: 0.03em;
}

@media screen and (max-width: 767px){
	.filter-item {
		width: 100vw;
		margin-right: 0;
	}

	.filter-item img{
		width: 100%;
	}
}


