.footer-box {
	display: flex;
	align-items: baseline;
}

.footer-list li {
	margin-bottom: 9px;
}

.footer-list a {
	color: var(--primary-white-color);
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	font-style: normal;
}

.footer-list .footer-list-link {
	color: rgba(255, 255, 255, 0.6);
}

.footer-list a:hover,
.footer-list a:focus {
	color: var(--accent-color);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-bg {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--bg-secondary-color);
}

.footer-list li:last-child {
	margin: 0;
}

.footer-social {
	width: 206px;
	margin-left: 70px;
}

.footer-social ul {
	margin-bottom: 0;
}
.footer-user .text,
.footer-social .text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--primary-white-color);
	margin-bottom: 20px;
}

.footer-social .social-item a {
	fill: var(--primary-white-color);
	background: rgba(255, 255, 255, 0.1);
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social .social-item a:hover,
.footer-social .social-item a:focus {
	background: var(--accent-color);
}

.footer-user {
	margin-left: auto;
}

.footer-user .button {
	margin-left: 12px;
}

.footer-user input {
	padding-left: 16px;
	background: none;
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}
.user-field {
	display: flex;
}
.user-field input {
	outline: none;
	color: var(--primary-white-color);
}

.user-icon {
	align-items: center;
	margin-left: 10px;
}

.social-item-list {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	gap: 10px;
}

.social-item a {
	display: flex;
	justify-content: center;
	fill: var(--icon-color);
	width: 44px;
	height: 44px;
	background-color: var(--primary-white-color);
	border-radius: 50%;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item a:hover,
.social-item a:focus {
	background: var(--accent-color);
	fill: var(--primary-white-color);
}

.button-user {
	margin-left: 12px;
	display: flex;
	padding: 10px 28px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);

	align-items: center;
}
.button-user:active {
	scale: 1.01;
}
.button-user:hover {
	cursor: pointer;
}


@media screen and (max-width: 767px) {
	.footer-box {
		display: block;

		.address {
			text-align: center;
			margin-bottom: 60px;
		}

		.footer-social {
			margin: auto;
			margin-bottom: 60px;
		}

		.footer-user .text,
		.footer-social .text {
			text-align: center;
		}

		.user-field{
			display: block;
		}
		.user-field input{
			margin-bottom: 20px;
		}

		.footer-user input{
			width: 100%;
		}

		.button-user{
			margin: auto;
		}
	}
}


@media screen and (min-width: 768px) and (max-width: 1199px){
	.footer-box {
		display:flex ;
		flex-wrap: wrap;
		& div{
			flex-basis:calc(100% / 2) ;
		}
		



		.address {
			text-align: center;
			margin-bottom: 60px;
		}

		.footer-social {
			margin: 0;
			// margin: auto;
			margin-bottom: 60px;
		}

		.footer-user .text,
		.footer-social .text {
			text-align: center;
		}

		.user-field{
			display: block;
		}
		.user-field input{
			margin-bottom: 20px;
		}

		.footer-user input{
			width: 100%;
		}

		.button-user{
			margin: auto;
			}
			.footer-user {
				margin: auto;
			}
	}
}
