
/* Logo */
.logo > span:hover,
.logo > span:focus {
	color: var(--accent-color);
}

.logo {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}
.logo-header {
	color: #000000;
}

.logo-footer {
	color: var(--primary-white-color);
}

.logo.footer {
	display: block;
	margin-bottom: 20px;
}

@media screen and (max-width: 767px){
	.logo {
		font-weight: 700;
font-size: 24px;
line-height: 1.3;
letter-spacing: 0.03em;

padding-top: 16px;
padding-bottom: 16px;
	}

	.logo.footer{
		padding: 0;
	}
}