.team {
	background-color: var(--secondary-color);

	
.team-list {
	display: flex;
}

.team-item img{
	width: 100%;
}

.team-item {
	margin-right: 30px;
	background: #ffffff;

	text-align: center;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list .team-item:last-child {
	margin-right: 0;
}

.team-list .title {
	margin-top: 30px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.team-list .text {
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.19;
}

.social-item-list {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	gap: 10px;
}

.social-item a {
	display: flex;
	justify-content: center;
	fill: var(--icon-color);
	width: 44px;
	height: 44px;
	background-color: var(--primary-white-color);
	border-radius: 50%;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item a:hover,
.social-item a:focus {
	background: var(--accent-color);
	fill: var(--primary-white-color);
}

@media screen and (max-width: 767px){
	.team-list {
		display: block;
		width: 100%;
	}

	.team-item{
		margin-right: auto;
		width: 100%;
		margin-top: 30px;
	}

	.team-item img{
		width: 100%;
	}

	.social-item-list {
		padding-bottom: 24px;
	}
}

}


@media screen and (min-width: 768px) and (max-width: 1199px){
	.team-list {
		flex-wrap: wrap;
		gap: 30px;
		
		
	}
	.team .team-item {
		width:calc(50% - 15px);
		margin-right: 0;
	}
	.team-item img{
		width: 100% ;
	}
}