.work {
	padding-top: 47px;

	&__item p {
		display: flex;
		position: absolute;
		bottom: 0;
		width: 370px;
		height: 70px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		align-items: center;
		justify-content: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		background: rgba(47, 48, 58, 0.8);

		color: #ffffff;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		position: relative;
	}
}
