.text {
	color: var(--paragraph-text-color);
	line-height: 1.71;
}

.list {
	list-style: none;
}

.title {
	margin-bottom: 10px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section-title {
		margin: 0;
		font-size: 28px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section-title {
		margin-bottom: 30px;
		font-size: 28px;
		line-height: 33px;
		text-align: center;
		letter-spacing: 0.03em;
	}
}
