.conteiner {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	// margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

	@media screen and (min-width: 320px) {
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}


