:root {
	--primary-text-color: #212121;
	--paragraph-text-color: #757575;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-color: #f5f4fa;
	--bg-secondary-color: #2f303a;
	--icon-color: #afb1b8;
}
